* {
  margin: 0;
}
.app {
  background-color: #fafafa;
}
.app__signup {
  display: flex;
  flex-direction: column;
}
.signup {
  display: flex;
  justify-content: flex-end;
}
.app__posts {
  padding: 20px;
}